<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="  https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="  https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


  <script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
  </script>
</head>

<body>

  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">WDS Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">

    </div>
  </nav>
  <br>

  <div class="container">
    <a href="/downloadCsv?tag={{tagid}}" class="btn btn-outline-primary"> <i class="fas fa-download"></i> &nbsp; Download CSV</a>
    <br>
    <br>
    {% if tagid != 'default' %}
    <a href="/"><i class="fas fa-arrow-left" style="font-size:165%"></i></a>
    {% endif %}

    <h3>Blueprints</h3>
    <table id="example" class="display table  table-striped" style="width:100%">
      <thead>
        <tr>
          <th>id</th>
          <th>Sl No</th>
          <th>Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for blueprint in blueprints %}

        <tr>
          <td>{{blueprint.id}}</td>

          <td>
            {% if blueprint.parent_id is not none %}
            <a href="?pid={{blueprint.parent_id}}">{{blueprint.slno}}</a>

            {% else %}
            {{blueprint.slno}}
            {% endif %}
          </td>
          <td>{{blueprint.name}}</td>
          <td>{{blueprint.start_date}}</td>
          <td>{{blueprint.end_date}}</td>
          <td>{{blueprint.parent_id}}</td>
        </tr>

        {% endfor %}


        </tfoot>
    </table>
  </div>

</body>

</html>